body {
	padding: 0;
	margin: 0;
	border: none;
	font-family: 'Avenir', sans-serif;
	background-image: url(https://source.unsplash.com/QZGQO3NvsLo);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 1000px;
	background-attachment: fixed;
}

.bg-light {
	background-color: white !important;
}

h1 {
	color: #57575f !important;
	font-family: 'Amatic SC';
	font-size: 6em;
	margin-bottom: -30px;
}

h2 {
	text-align: center;
	font-size: 2.5em;
	font-family: 'Amatic SC';
}

h2,
.product-header,
.product-categories {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

a {
	color: #7c7766;
}

a:hover {
	text-decoration: none;
	color: #57575f;
}

p,
.navbar {
	font-family: 'Josefin Sans', sans-serif;
}

.text-muted {
	color: #a5abb1 !important;
}

.text-stronger {
	color: #808089 !important;
}

.priceText {
	font-weight: bold;
}

.lessSpace {
	line-height: 0.1;
	color: white !important;
}

.moreSpace {
	margin-top: 70px;
	padding-top: 40px;
}

div#content {
	margin-top: 100px;
}

.product-details {
	padding: 20px;
}

.card-body {
	height: auto;
}

.image {
	width: 100%;
	height: 150px;
	background-size: cover !important;
}

.product-in-list {
	height: 400px;
}

.card {
	background-color: rgba(255, 255, 255, 0.82);
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
	transition: transform 0.75s ease-in-out;
	border: none;
}

.card:hover {
	transform: scale(1.04);
	border: 1px solid white;
	box-shadow: 0px 0px 1px 1px white;
	height: 100%;
}

.jumbotron {
	border-radius: 0;
}

.jumbotron-heading,
.navbar {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.jumbotron-heading:hover {
	transform: scale(1.1);
}

.navbar:hover {
	transform: scale(1.01);
}

.lessSpace:hover {
	transform: none;
}

.card-img-top {
	max-width: 100%;
}

img {
	width: auto;
	max-width: 100%;
}

button.btn.btn-light {
	display: block;
	margin: 0 auto;
	background-color: white;
	border-color: white;
	font-family: 'Amatic SC';
	font-size: 1.5em;
}

.product-categories + p {
	display: none;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50% {
		transform: translateY(8%);
	}
	65% {
		transform: translateY(-4%);
	}
	80% {
		transform: translateY(4%);
	}
	95% {
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

.card:hover .product-categories + p {
	display: block;
	animation-name: slideDown;
	animation-duration: 1s;
	animation-timing-function: ease;
}

.col-md-6,
.col-sm-6 {
	padding: 15px;
}

footer {
	position: absolute;
	width: 100%;
	background-color: white;
	color: white;
	text-align: center;
	margin-top: 1000px;
}

footer p {
	height: 20px;
	margin: 0;
}

@media only screen and (max-device-width: 480px) {
	h1 {
		color: #505464 !important;
		font-family: 'Amatic SC';
		font-size: 4em;
		margin-bottom: -10px;
	}
	.moreSpace {
		margin-top: 10px;
	}
	div#content {
		margin-top: 65px;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	div#content {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	h1 {
		font-size: 5em;
	}
}
